# Optional. The demo runs without a license key — the SDK falls back to its trial
# behaviour, which is enough to reproduce everything shown here. Set this to match
# what a licensed host would do.
VITE_NUTRIENT_LICENSE_KEY=
